*{
    text-align: center;
    /* border: 1px solid black; */
    padding: 0;
    margin: 0;
    background-color: #80ced6;
}
body{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.buttons{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.bookmarkDiv{
    margin-top: 20px;
}
.bookmarkDiv .unexpandedBookmark{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
.expandedBookmark{
    border: 1px solid black;
}
li{
    padding: 10px;
}
.bookmarkDiv .unexpandedBookmarkButton{
    width: 80%;
    border: none;
    text-align: center;
}
ul{
    list-style-type: none;
}
input{
    width: 90%;
    border: 2px solid black;
}
.addBookmark, .cancel-button, .add-item-button, #Rating-list, .delete-button, a{
    background-color: #618685;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    *{
        text-align: center;
        /* border: 1px solid black; */
        padding: 0;
        margin: 0;
        background-color: #80ced6;
    }
    body{
        width: 100%;
        height: 100%;
    }
    .wrapper{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .buttons{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
    .bookmarkDiv{
        margin-top: 20px;
    }
    .bookmarkDiv .unexpandedBookmark{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
    }
    .expandedBookmark{
        border: 1px solid black;
    }
    li{
        padding: 10px;
    }
    .bookmarkDiv .unexpandedBookmarkButton{
        width: 80%;
        border: none;
        text-align: center;
    }
    ul{
        list-style-type: none;
    }
    input{
        width: 90%;
        border: 2px solid black;
    }
    .addBookmark, .cancel-button, .add-item-button,#Rating-list, .delete-button, a{
        background-color: #618685;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}
@media screen and (min-width: 1200px) {
    *{
        text-align: center;
        /* border: 1px solid black; */
        padding: 0;
        margin: 0;
        background-color: #80ced6;
    }
    body{
        width: 100%;
        height: 100%;
    }
    .wrapper{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .buttons{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
    .bookmarkDiv{
        margin-top: 20px;
    }
    .bookmarkDiv .unexpandedBookmark{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
    }
    .expandedBookmark{
        border: 1px solid black;
    }
    li{
        padding: 10px;
    }
    .bookmarkDiv .unexpandedBookmarkButton{
        width: 80%;
        border: none;
        text-align: center;
    }
    ul{
        list-style-type: none;
    }
    input{
        width: 90%;
        border: 2px solid black;
    }
    .addBookmark, .cancel-button, .add-item-button,#Rating-list, .delete-button, a{
        background-color: #618685;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}